@import "tailwindcss";

/* Esta línea es la que hace la magia en la v4 */
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@font-face {
  font-family: 'F1-font';
  src: url('./assets/fonts/Formula1-Regular-1.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'F1-font';
  src: url('./assets/fonts/Formula1-Bold-4.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/Helvetica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./assets/fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

@theme {
  /* Aquí puedes definir colores de F1 si quieres más adelante */
  --font-f1: "F1-font", sans-serif;
  --font-helvetica: "Helvetica", sans-serif;
}